@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("FiraSans-Regular"),
    url("../fonts/FiraSans-Regular.woff2") format("woff2"),
    url("../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("FiraSans-Medium"),
    url("../fonts/FiraSans-Medium.woff2") format("woff2"),
    url("../fonts/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("FiraSans-Bold"),
    url("../fonts/FiraSans-Bold.woff2") format("woff2"),
    url("../fonts/FiraSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraBold"),
    local("Raleway-ExtraBold"),
    url("../fonts/ralewayextrabold.woff2") format("woff2"),
    url("../fonts/ralewayextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
