@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin input-style-reset {
  padding: 0;

  background-color: $white;
  border: none;

  &:focus {
    outline: none;
  }
}

@mixin button-style-reset {
  padding: 0;

  font-size: 0;
  color: inherit;

  background: none;
  outline: inherit;
  border: none;

  cursor: pointer;
}

@mixin center-y-by-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin font-size-height-color($size, $height: $size, $color: false) {
  font-size: #{$size}px;
  line-height: #{$height}px;

  @if $color {
    color: $color;
  }
}

@mixin on-hover($fill: false, $stroke: false, $border-bottom: false) {
  @media (min-width: $desktop-width) {
    &:hover {
      cursor: pointer;

      color: $orange;

      @if $fill {
        fill: $orange;
      }

      @if $stroke {
        stroke: $orange;
      }

      @if $border-bottom {
        border-bottom: 2px dashed $orange;
      }
    }
  }
}

@mixin video-button-style($diam, $color: $white, $color-on-hover: $porcelain) {
  @include button-style-reset;

  $_y-ratio: 6.4;
  $_x-ratio: 4;

  position: relative;

  width: #{$diam}px;
  height: #{$diam}px;
  flex-shrink: 0;

  background-color: $color;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: -25%;
    left: -25%;
    z-index: 1;

    width: 150%;
    height: 150%;
    background-color: $white;
    border-radius: 50%;
    opacity: 0.32;
  }

  &::after {
    content: "";
    position: absolute;
    top: 34%;
    left: 43%;
    z-index: 2;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: #{$diam / $_y-ratio}px #{$diam / $_x-ratio}px;
    border-color: $transparent $transparent $transparent $sky-blue;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      box-shadow: 0 1px 4px $transparent-5;

      &::before {
        z-index: 2;
      }

      &::after {
        z-index: 1;
      }
    }

    &:active {
      box-shadow: 0 1px 4px $transparent-5;
      background-color: $color-on-hover;

      &::before {
        z-index: 1;
      }

      &::after {
        z-index: 2;

        border-color: $transparent $transparent $transparent $sky-blue;
      }
    }
  }
}

@mixin button-text-style {
  text-shadow: $text-shadow;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  color: $white;
}

@mixin button-style {
  @include button-text-style;
  @include font-size-height-color(14, 16);

  background: $button-normal;
  border: none;
}

@mixin oval-button-style {
  @include button-style-reset;
  @include button-style;

  padding: 23px 41px 20px;

  letter-spacing: 0.85px;

  border-radius: 30px;
}

@mixin incorrect-input {

}

@mixin input-style {
  @include input-style-reset;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.98px;
  text-transform: uppercase;

  border: 2px solid $cloud;
  border-radius: 30px;

  &::placeholder {
    color: $black-transparent-50;
  }

  &:focus {
    border: 2px solid $orange;
  }
}
