@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin input-style-reset {
  padding: 0;

  background-color: $white;
  border: none;

  &:focus {
    outline: none;
  }
}

@mixin button-style-reset {
  padding: 0;

  font-size: 0;
  color: inherit;

  background: none;
  outline: inherit;
  border: none;

  cursor: pointer;
}

@mixin center-y-by-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin font-size-height-color($size, $height: $size, $color: false) {
  font-size: #{$size}px;
  line-height: #{$height}px;

  @if $color {
    color: $color;
  }
}

@mixin on-hover($fill: false, $stroke: false, $border-bottom: false) {
  @media (min-width: $desktop-width) {
    &:hover {
      cursor: pointer;

      color: $orange;

      @if $fill {
        fill: $orange;
      }

      @if $stroke {
        stroke: $orange;
      }

      @if $border-bottom {
        border-bottom: 2px dashed $orange;
      }
    }
  }
}

@mixin video-button-style($diam, $color: $white, $color-on-hover: $porcelain) {
  @include button-style-reset;

  $_y-ratio: 6.4;
  $_x-ratio: 4;

  position: relative;

  width: #{$diam}px;
  height: #{$diam}px;
  flex-shrink: 0;

  background-color: $color;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: -25%;
    left: -25%;
    z-index: 1;

    width: 150%;
    height: 150%;
    background-color: $white;
    border-radius: 50%;
    opacity: 0.32;
  }

  &::after {
    content: "";
    position: absolute;
    top: 34%;
    left: 43%;
    z-index: 2;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: #{$diam / $_y-ratio}px #{$diam / $_x-ratio}px;
    border-color: $transparent $transparent $transparent $sky-blue;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      box-shadow: 0 1px 4px $transparent-05;

      &::before {
        z-index: 2;
      }

      &::after {
        z-index: 1;
      }
    }

    &:active {
      box-shadow: 0 1px 4px $transparent-05;
      background-color: $color-on-hover;

      &::before {
        z-index: 1;
      }

      &::after {
        z-index: 2;

        border-color: $transparent $transparent $transparent $sky-blue;
      }
    }
  }
}

@mixin button-text-style {
  text-shadow: $text-shadow;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  color: $white;
}

@mixin button-style {
  @include button-text-style;
  @include font-size-height-color(14, 16);

  text-shadow: $text-shadow;

  background: $button-normal;
  border: none;

  &:hover {
    background: $button-hover-shadow;
  }

  &:active {
    background: $button-click-shadow;
  }
}

@mixin oval-button-style {
  @include button-style-reset;
  @include button-style;

  padding: 23px 41px 20px;

  letter-spacing: 0.85px;

  border-radius: 30px;
}

@mixin corss-button-style($y-position, $y-val, $x-position, $x-val, $width, $height) {
  @include button-style-reset;

  position: absolute;
  #{$y-position}: $y-val;
  #{$x-position}: $x-val;

  width: #{$width}px;
  height: #{$height}px;

  &::before {
    content: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='hsl(41, 100%, 63%)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.48467 8.5L0 1.50703L1.41767 2.46254e-07L9 7.08422L16.5823 0L18 1.50703L10.5153 8.5L18 15.493L16.5823 17L9 9.91578L1.41767 17L6.13436e-07 15.493L7.48467 8.5Z' /%3E%3C/svg%3E");
  }
}

@mixin checkmark-style($y-position, $y-val, $x-position, $x-val, $width, $height) {
  &::after {
    content: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 58 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 25.88L19.1972 41L53 5' stroke-width='9' stroke='hsl(41, 100%, 63%)' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

    position: absolute;

    #{$y-position}: $y-val;
    #{$x-position}: $x-val;

    width: #{$width}px;
    height: #{$height}px;
  }
}

@mixin input-style {
  @include input-style-reset;
  @include font-size-height-color(14, 20);

  font-weight: 500;
  letter-spacing: 0.98px;
  text-transform: uppercase;

  border: 2px solid $cloud;
  border-radius: 30px;

  &::placeholder {
    color: $black-transparent-50;
  }

  &:focus {
    border: 2px solid $orange;
  }
}

@mixin input-phone-underline($y-position, $y-val, $x-position, $x-val, $width, $height, $inline-hex-color, $opacity) {
  &::after {
    content: url("data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' viewBox='0 0 #{$width} #{$height}' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='#{$opacity}' d='M0 1H36' stroke='#{$inline-hex-color}'/%3E%3Cpath opacity='#{$opacity}' d='M42 1H66' stroke='#{$inline-hex-color}'/%3E%3Cpath opacity='#{$opacity}' d='M72 1H88' stroke='#{$inline-hex-color}'/%3E%3Cpath opacity='#{$opacity}' d='M94 1H110' stroke='#{$inline-hex-color}'/%3E%3C/svg%3E%0A");

    position: absolute;

    #{$y-position}: $y-val;
    #{$x-position}: $x-val;
  }
}

@mixin social-links-style {
  @include list-style-reset;

  display: flex;

  & svg {
    @include on-hover(true, false, false);

    fill: $black-transparent-20;
  }
}
