html {
  height: 100%;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;

  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: $black;

  overflow-x: hidden;

  //only for development
  &::-webkit-scrollbar {
    display: none; /*Makes scrollbar hidden*/
  }
}

main {
  flex: 1 0 auto;
}

footer {
  flex: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input {
  border-radius: 0;

  &:required {
    box-shadow: none;
  }
}

textarea {
  border-radius: 0;
}

h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $sky-blue;

  @media (max-width: $max-mobile-width) {
    font-size: 32px;
    line-height: 39px;
  }
}
