$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$max-desktop-width: 1366px;
$retina-dpi: 144dpi;

$black: hsl(0, 0%, 28%); // #484848
$black-transparent-87: hsla(0, 0%, 28%, 0.87);
$black-transparent-50: hsla(0, 0%, 28%, 0.5);
$sepia: hsl(14, 9%, 46%); // #80706B
$sky-blue: hsl(196, 97%, 55%); // #1DC0FC
$red: hsl(0, 100%, 50%); // #FF0000
$red-transparent-50: hsla(0, 100%, 50%, 0.75);
$orange: hsl(41, 100%, 63%); // #FFC341
$pineapple: hsl(51, 100%, 50%); // #FFD701
$mustard: hsl(36, 68%, 57%);
$white: hsl(0, 0%, 100%);
$porcelain: hsl(0, 0%, 96%); // #F5F5F5
$cloud: hsl(0, 0, 89%); // #E3E3E3
$transparent: hsla(0, 0%, 0%, 0); // rgba(0, 0, 0, 0.05)
$transparent-5: hsla(0, 0%, 0%, 0.05); // rgba(0, 0, 0, 0.05)

$__: hsl(0, 100%, 50%);

$icon-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.05);
$text-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.12);
$bubble-shadow: 0 3px 12px hsla(0, 0%, 0%, 0.1);
$button-normal: linear-gradient(108.42deg, $orange 20.46%, $pineapple 65.31%);
$button-hover-shadow: linear-gradient(109.15deg, $orange -50.3%, $pineapple 63.1%);
$button-click-shadow: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
