$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$max-desktop-width: 1366px;
$retina-dpi: 144dpi;

$black: hsl(0, 0%, 28%); // #484848
$black-hex: "%23484848"; // #484848
$black-transparent-20: hsla(0, 0%, 28%, 0.2);
$black-transparent-50: hsla(0, 0%, 28%, 0.5);
$black-transparent-74: hsla(0, 0%, 28%, 0.74);
$black-transparent-87: hsla(0, 33%, 2%, 0.87);
$sepia: hsl(14, 9%, 46%); // #80706B
$sky-blue: hsl(196, 97%, 55%); // #1DC0FC
$red: hsl(0, 100%, 50%); // #FF0000
$red-transparent-50: hsla(0, 100%, 50%, 0.75);
$orange: hsl(41, 100%, 63%); // #FFC341
$pineapple: hsl(51, 100%, 50%); // #FFD701
$mustard: hsl(36, 68%, 57%);
$mauve: hsl(263, 9%, 48%);
$ocean: hsl(195, 30%, 37%);
$white: hsl(0, 0%, 100%);
$porcelain: hsl(0, 0%, 96%); // #F5F5F5
$cloud: hsl(0, 0, 89%); // #E3E3E3
$transparent: hsla(0, 0%, 0%, 0);
$transparent-01: hsla(0, 0%, 0%, 0.1);
$transparent-05: hsla(0, 0%, 0%, 0.05);
$transparent-12: hsla(0, 0%, 0%, 0.12);
$transparent-24: hsla(0, 0%, 0%, 0.24);
$grey-transparent-92: hsla(0, 0%, 92%, 0.95); // rgba(235, 235, 235, 0.95)

$__: hsl(39, 100%, 91%);

$icon-shadow: 0 1px 4px $transparent-05;
$text-shadow: 0 1px 4px $transparent-12;
$bubble-shadow: 0 3px 12px $transparent-01;
$button-normal: linear-gradient(108.42deg, $orange 20.46%, $pineapple 65.31%);
$button-hover-shadow: linear-gradient(109.15deg, $orange -50.3%, $pineapple 63.1%);
$button-click-shadow: radial-gradient(150% 119.49% at 50% 50.85%, $transparent 30.67%, $transparent-24), linear-gradient(109.15deg, $orange -50.3%, $pineapple 63.1%);
